<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../components/head') %>

    <body>
        <% if (typeof hideHeader === 'undefined' || !hideHeader) { %>
            <%- include('../components/header') %>
        <% } %>
        
        <main class="<%= typeof mainClass !== 'undefined' ? mainClass : 'main-content' %>">
            <%- typeof body !== 'undefined' ? body : '' %>
            <%- typeof content !== 'undefined' ? content : '' %>
        </main>
        
        <% if (typeof skipMainJS === 'undefined' || !skipMainJS) { %>
            <script src="/js/main.js"></script>
        <% } %>

        <% if (typeof pageJS !== 'undefined') { %>
            <% pageJS.forEach(function(js) { %>
                <script src="<%= js %>"></script>
            <% }); %>
        <% } %>
    </body>
</html>